









.card{

    transition: all 2s;
    &:hover{
        transform: scale(1.1);
        
    }

        

}
.card--black{
    @extend .card;
        background-color:$card--black;
        p{
            color: white;
        }
    }


    


.card--white{
    @extend .card;
    background-color: $card--white;
    p{
        color: rgb(0, 0, 0);
    }
}

.titulo--secundario{
    background-color: rgba(255, 255, 255, 0.226);
    border-radius: 1rem;

}